{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrueDNA - Discreet DNA Testing</title>
<!--    <link rel="stylesheet" href="/static/core/css/style.css">-->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="/">TrueDNA</a></h1>
        <nav>
            <a href="/how-it-works/">How It Works</a> |
            <a href="/pricing/">Pricing</a> |
            <a href="/faq/">FAQ</a> |
            <a href="/testimonials/">Testimonials</a> |
            <a href="/contact/">Contact</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>TrueDNA Ghana - Discreet DNA Testing. Real Peace of Mind.</p>
    </footer>
</body>
</html>
